<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BarclaysBTSSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8090/bcdws.asmx" binding="basicHttpBinding"
                bindingConfiguration="BarclaysBTSSoap" contract="BCDWSProxy.BarclaysBTSSoap"
                name="BarclaysBTSSoap" />
        </client>
    </system.serviceModel>
</configuration>