<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="DefinicaoSublimites" value="LM34DefinicaoSublimites.aspx"/>
    <add key="ContratoML" value="LM33ContratoML.aspx"/>
    <add key="AssociacaoContasDO" value="LM35AssociacaoContasDO.aspx"/>
    <add key="CodigoProdutoML" value="LM"/>
    <add key="NMaxProdutoMLBase" value="9"/>
    <add key="NMaxProdutoMLAvancada" value="17"/>
    <add key="LinqComissaoAberura" value="http://localhost:9290/DefinicaoPrecario.aspx"/>
    <add key="LinqComissaoRenovacao" value="http://localhost:9290/DefinicaoPrecario.aspx"/>
    <add key="LinqComissaoGestaoContrato" value="http://localhost:9290/DefinicaoPrecario.aspx"/>
    <add key="LinqComissaoNovacao" value="http://localhost:9290/DefinicaoPrecario.aspx"/>
    <add key="LinqComissaoAberturaNegociacao" value="http://localhost:9290/DefinicaoPrecarioNegociado.aspx"/>
    <add key="LinqComissaoGestaoContratoNegociacao" value="http://localhost:9290/DefinicaoPrecarioNegociado.aspx"/>
    <add key="" value=""/>
    <add key="ApplicationID" value="CPWSClone"/>
    <add key="useLog" value="false"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
    <httpModules>
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
    </modules>
  </system.webServer>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="LM31CatalogoProduto.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.net>
    <defaultProxy useDefaultCredentials="true"/>
  </system.net>
  <connectionStrings>
    <!--LOCAL Config-->
    <add name="MASTERDB2LOCAL" connectionString="Dsn=DEV_MST;uid=db2tuser;pwd=12letmein;mode=SHARE;dbalias=DEV_MST;CurrentSchema=db2ptuser;"
      providerName="System.Data.Odbc"/>
  </connectionStrings>
</configuration>