<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--Não Mexer -->
    <add key="DefinicaoSublimites" value="LM34DefinicaoSublimites.aspx"/>
    <add key="ContratoML" value="LM33ContratoML.aspx"/>
    <add key="AssociacaoContasDO" value="LM35AssociacaoContasDO.aspx"/>
    <add key="SublimitesML" value="LM34DefinicaoSublimites.aspx"/>
    <add key="ContratosProduto" value ="LM36ContratosProduto.aspx"/>
    <add key="PedidosML" value ="LM32PedidosAprovacaoML.aspx"/>
    <!--Keys de negocio-->
    <add key="CodigoProdutoML" value="LM"/>
    <add key="NMaxProdutoMLBase" value="9"/>
    <add key="NMaxProdutoMLAvancada" value="17"/>
    <!--Alterar de acordo com ambiente -->
    <add key="LinqComissaoAberura" value="http://cukobcc4web0148.bkpt.pt:8766/DefinicaoPrecario.aspx"/>
    <add key="LinqComissaoRenovacao" value="http://cukobcc4web0148.bkpt.pt:8766/DefinicaoPrecario.aspx"/>
    <add key="LinqComissaoGestaoContrato" value="http://cukobcc4web0148.bkpt.pt:8766/DefinicaoPrecario.aspx"/>
    <add key="LinqComissaoNovacao" value="http://cukobcc4web0148.bkpt.pt:8766/DefinicaoPrecario.aspx"/>
    <add key="LinqComissaoAberturaNegociacao" value="http://cukobcc4web0148.bkpt.pt:8766/DefinicaoPrecarioNegociado.aspx"/>
    <add key="LinqComissaoGestaoContratoNegociacao" value="http://cukobcc4web0148.bkpt.pt:8766/DefinicaoPrecarioNegociado.aspx"/>
    <add key="LinqComissaoGestaoRenovacaoNegociacao" value="http://cukobcc4web0148.bkpt.pt:8766/DefinicaoPrecarioNegociado.aspx"/>
    <add key="ApplicationID" value="CPWSClone"/>
    <add key="useLog" value="false"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
    <httpModules>
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
    </modules>
  </system.webServer>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="LM31CatalogoProduto.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.net>
    <defaultProxy useDefaultCredentials="true"/>
  </system.net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BarclaysBTSSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
       <!--<endpoint address="http://bpcfsptln197.bkpt.pt:8100/bcdws/BCDWS.asmx" binding="basicHttpBinding" bindingConfiguration="BarclaysBTSSoap" contract="BCDWSProxy.BarclaysBTSSoap" name="BarclaysBTSSoap" />-->
      <!--<endpoint address="http://localhost:8090/BCDWS.asmx" binding="basicHttpBinding"
            bindingConfiguration="BarclaysBTSSoap" contract="BCDWSProxy.BarclaysBTSSoap"
            name="BarclaysBTSSoap" /> -->
      <endpoint address="http://localhost:8080/BCDWS.asmx" binding="basicHttpBinding"
          bindingConfiguration="BarclaysBTSSoap" contract="BCDWSProxy.BarclaysBTSSoap"
          name="BarclaysBTSSoap" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <!--LOCAL Config-->
    <add name="MASTERDB2LOCAL" connectionString="Dsn=DEV_MST;uid=db2tuser;pwd=12letmein;mode=SHARE;dbalias=DEV_MST;CurrentSchema=db2ptuser;"
      providerName="System.Data.Odbc"/>
  </connectionStrings>
</configuration>